.navbar{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}
.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.navbar a{
    color: inherit;
    text-decoration: none;
}
.todo{
    margin-right: 10px;
    margin: left 30px;
} 
.img {
    display: block; /* Removes any default inline space */
    width: 100%; /* Makes the image take the full width of the viewport */
    height: auto; /* Maintains the image's aspect ratio */
}
.calc{
    margin-right: 10px;
    margin: left 30px;
}
.home{
    margin-right: 10px;
    margin: left 30px;
}
